In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import yfinance as yf

In [2]:
tickers = ['PG','XOM']
sec_data = pd.DataFrame()

In [3]:
for t in tickers:
    data = yf.Ticker(t)
    sec_data[t] = data.history(start = '2004-01-01')['Close']

In [4]:
sec_data

                                   PG        XOM
Date
2004-01-02 00:00:00-05:00   28.420401  21.118952
2004-01-05 00:00:00-05:00   28.561085  21.612753
2004-01-06 00:00:00-05:00   28.417532  21.467207
2004-01-07 00:00:00-05:00   28.164883  21.311270
2004-01-08 00:00:00-05:00   28.460598  21.259285
...                               ...        ...
2024-01-17 00:00:00-05:00  148.999008  96.980003
2024-01-18 00:00:00-05:00  148.139999  96.800003
2024-01-19 00:00:00-05:00  147.570007  96.949997
2024-01-22 00:00:00-05:00  147.860001  96.820000
2024-01-23 00:00:00-05:00  153.979996  97.910004

[5048 rows x 2 columns]

In [5]:
  sec_returns = np.log(sec_data / sec_data.shift(1)) # calculating the Log returns
sec_returnsd

                                 PG       XOM
Date
2004-01-02 00:00:00-05:00       NaN       NaN
2004-01-05 00:00:00-05:00  0.004938  0.023113
2004-01-06 00:00:00-05:00 -0.005039 -0.006757
2004-01-07 00:00:00-05:00 -0.008930 -0.007290
2004-01-08 00:00:00-05:00  0.010445 -0.002442
...                             ...       ...
2024-01-17 00:00:00-05:00  0.001001 -0.007294
2024-01-18 00:00:00-05:00 -0.005782 -0.001858
2024-01-19 00:00:00-05:00 -0.003855  0.001548
2024-01-22 00:00:00-05:00  0.001963 -0.001342
2024-01-23 00:00:00-05:00  0.040557  0.011195

[5048 rows x 2 columns]

In [6]:
# PG

In [7]:
 sec_returns['PG'].mean() # daily Average rate of return

0.00033479601290664065

In [8]:
sec_returns['PG'].mean() * 250 #Yearly Average return

0.08369900322666016

In [9]:
sec_returns['PG'].std() # standard devaition of PG

0.011354451769479464

In [10]:
sec_returns['PG'].std() * 250 ** 0.5 # Yearly standard devaition

0.17952964587042117

In [11]:
 # XOM

In [12]:
sec_returns['XOM'].mean()

0.000303918743800923

In [13]:
sec_returns['XOM'].mean() * 250

0.07597968595023075

In [14]:
sec_returns['XOM'].std()

0.01665883227517367

In [15]:
sec_returns[['PG','XOM']].mean()*250 # to get to means in one array, you need to enclose the dataframe's indexes in 2 brackets

PG     0.083699
XOM    0.075980
dtype: float64

In [16]:
sec_returns[['PG','XOM']].std()*250**0.5

PG     0.179530
XOM    0.263399
dtype: float64

In [17]:
# COVARIANCE AND CORRELATION

In [18]:
 PG_var= sec_returns['PG'].var() # daily calculating the variance of PG
 PG_var

0.00012892357498543532

In [19]:
XOM_var = sec_returns['XOM'].var()
XOM_var

0.00027751669277236796

In [20]:
 PG_var_a= sec_returns['PG'].var() * 250 #calculating the yearly variance of PG
 PG_var_a

0.03223089374635883

In [21]:
XOM_var_a = sec_returns['XOM'].var() * 250
XOM_var_a

0.06937917319309199

In [22]:
cov_matrix = sec_returns.cov() # calculating the covariance of PG and XOM .. this is .00000076. 000.0000129 represent the variance of PG while .000278 represence the variance of XOM
cov_matrix

           PG       XOM
PG   0.000129  0.000076
XOM  0.000076  0.000278

In [23]:
cov_matrix_a = sec_returns.cov() * 250 # calculating annual covariance
cov_matrix_a

           PG       XOM
PG   0.032231  0.019032
XOM  0.019032  0.069379

In [24]:
corr_matrix = sec_returns.corr() # Correllation of PG and XOM. P.S: we do not annualize correlation.
corr_matrix

           PG       XOM
PG   1.000000  0.402465
XOM  0.402465  1.000000

In [25]:
#CALUCATING PORTFOLIO RISK

In [26]:
 weights = np.array([0.5,0.5])

In [39]:
pfolio_var = np.dot(weights.T,np.dot(sec_returns.cov()* 250,weights)) #porfolio_variance
pfolio_var

0.034918385555477584

In [28]:
pfolio_vol = (np.dot(weights.T,np.dot(sec_returns.cov()* 250,weights))) ** 0.5 #portfolio Volatility 
pfolio_vol

0.18686461825470754

In [29]:
# Calculating diversifiable and Non-diversifiable risk of a portfolio

In [30]:
weights = np.array([0.5,0.5])

In [34]:
PG_var_a = sec_returns['PG'].var() * 250
PG_var_a

0.03223089374635883

In [35]:
XOM_var_a = sec_returns['XOM'].var() * 250
XOM_var_a

0.06937917319309199

In [37]:
dr = pfolio_var - (weights[0]**2*PG_var_a) - (weights[1] ** 2 * XOM_var_a)
dr

0.009515868820614878

In [38]:
pfolio_var - dr

0.025402516734862705